@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-12">

        <div class="intro-text">
            <h2 class="header-title">Reclame Clinicas</h2>
            <hr>
            <p class="skills">
                É uma forma de protesto que, através da internet, pretende disponibilizar um ambiente para 
                reclamações dos atrasos médicos ocorridos com frequência em todo o Brasil. Sendo assim, 
                a sociedade pode expor de forma simples e consciente o quanto vivencia esse problema no cotidiano.
                O serviço ainda está em sua versão Alpha, mas você já pode utilizar e começar a contribuir.
            </p>
        </div>
    </div>

</div>
